.mdl-mini-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #F1F1F1;
	padding: 0;
}

.mdl-logo{
	color: rgb(66,66,66);
	margin-right: 64px;
}

/*Menu Principal*/
ul#nav{text-align: left; margin: 0px; padding: 0px; list-style: none;}
ul#nav li{position: relative;}
ul#nav li a{display: block;}
ul#nav ul{display: none;}

/*Menu Secundário*/
ul#nav li:hover ul{display: block; overflow:hidden;}
ul#nav li ul{text-align: left; margin: 0px; padding: 0px; padding-left: 10px; list-style: none;}

/*Backgroud*/

.backgroud{
background:#6E6E6E;
}

.margim-main{
margin:15px
}

.backgroud-branco{
background:#fff;
}








